{{#partial "content"}}
    <ul class="nav nav-tabs" id="nav">
        <li role="presentation"><a href="/home"><img src="images/logo2.png" height="40px" width="60px"></a></li>
        <li role="presentation"><a href="/Issues">Issues</a></li>
        <li role="presentation"><a href="/Issues/new">Add Issue</a></li>
        <li role="presentation"><a href="/Tenants">Tenants</a></li>
        <li role="presentation"><a href="/Tenants/new">Add Tenant</a></li>
        <li role="presentation"><a href="/Apartments">Apartments</a></li>
        <li role="presentation"><a href="/Apartments/new">Add Apartment</a></li>
        <li role="presentation"><a href="/Profile">Profile</a></li>
    </ul>
    <div class="container-fluid">
        <div class="row min-vh-100 text-center justify-content-center align-items-center flex-column" id="main-page">
            <img src="/images/logo.png" height="450px" width="450px">
            <br><br>
            <p>For property owners who need to keep track of their tenants,<br> as well as their property</p>
        </div>
    </div>
    <div id="info">
        <div class="row min-vh-100 text-center justify-content-center align-items-center flex-column">
            <div class="col-md-6">
                <h3>Have total control over your property</h3>
                <br>
                <img src="/images/house.png" style="width:200px">
                <br><br>
            </div>
            <div class="col-md-6">
                <h3>Manage all issues pertaining to your property</h3>
                <br>
                <img src="/images/to-do.jpg" style="width:200px">
                <br><br>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}