<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Tenant manager</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/styles.css">
</head>
<body>
<!--<ul class="nav nav-tabs" id="nav">-->
<!--    <li role="presentation"><a href="/"><img src="images/logo2.png" height="40px" width="60px"></a></li>-->
<!--    <li role="presentation"><a href="">Issues</a></li>-->
<!--    <li role="presentation"><a href="">Add Issue</a></li>-->
<!--    <li role="presentation"><a href="">Tenants</a></li>-->
<!--    <li role="presentation"><a href="">Add Tenant</a></li>-->
<!--    <li role="presentation"><a href="">Apartments</a></li>-->
<!--    <li role="presentation"><a href="">Add Apartment</a></li>-->
<!--    <li role="presentation"><a href="">Profile</a></li>-->
<!--</ul>-->
{{#block "content"}}
{{/block}}
</body>
</html>
