{{#partial "content"}}
    <div class="container-fluid bg-success">
        <div class="row min-vh-100 text-center justify-content-center align-items-center flex-column" id="success">
            <h1><strong>Your Input has been successfully captured!</strong></h1>
            <hr>
            <p><strong>Your changes have been saved</strong></p>
            <a href="/" class="btn btn-warning">Log In</a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}